<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>ユーザー一覧 | 問い合わせシステム</title>
</head>
<body>
<h1 class="mt-3">ユーザー一覧</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>
<a href="../creationForm.html" th:href="@{/users/creationForm}">作成</a>
<table class="table">
    <thead>
    <tr>
        <th>ユーザー名</th>
        <th>権限</th>
        <th>ユーザー削除</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}" th:if="${user.isDeleted == 0}">
        <th th:text="${user.username}">(username)</th>
        <th th:text="${user.authority}">(authority)</th>
        <th>
            <form th:action="@{/users/delete}" method="post">
                <input type="hidden" name="username" th:value="${user.username}">
                <button type="submit" class="btn btn-danger">削除</button>
            </form>
    </tr>
    </tbody>
</table>
</body>
</html>