<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更 | 問い合わせシステム</title>
</head>
<body>
<h1 class="mt-3">パスワード変更</h1>
<form th:action="@{'/users/' + ${username} + '/password'}" method="post">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Update</button>
</form>
</body>
</html>