<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更 | 問い合わせシステム</title>
    <a href="../index.html" th:href="@{/}">トップページ</a>
</head>
<body>
<h1 class="mt-3">パスワード変更</h1>
<form th:action="@{'/users/' + ${username} + '/password'}" method="post">
    <label for="Password">新しいパスワード:</label>
    <input type="password" id="Password" name="Password" required>
    <button type="submit">変更</button>
</form>
</body>
</html>