<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>問い合わせフォーム｜問い合わせシステム</title>
</head>
<body>
<h1 class="mt-3">問い合わせ入力フォーム</h1>
<form action="#" th:action="@{/inquery}" th:object="${inqueryForm}" method="post">
    <div>
        <label for="mailAddress">メールアドレス:</label>
        <input type="email" id="mailAddress" th:field="*{mailAddress}" />
    </div>
    <div>
        <label for="name">名前:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="old">年齢:</label>
        <input type="text" id="old" th:field="*{old}" />
    </div>
    <div>
        <label for="address">住所:</label>
        <input type="text" id="address" th:field="*{address}" />
    </div>
    <div>
        <label for="classification">問い合わせカテゴリ:</label>
        <select id="classification" th:field="*{classification}">
            <option value="1">コースについて</option>
            <option value="2">金額について</option>
            <option value="3">申し込みについて</option>
            <option value="4">法人研修について</option>
            <option value="99">その他</option>
        </select>
    </div>
    <div>
        <label for="body">内容:</label>
        <textarea id="body" th:field="*{body}"></textarea>
    </div>
    <button type="submit">送信</button>
</form>
</body>
</html>