<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>問い合わせ詳細｜問い合わせシステム</title>
</head>
<body>
<h1 class="mt-3">問い合わせ詳細</h1>
<a href="./list.html" th:href="@{/inquery}">一覧に戻る</a>
<a href="./mail/mailForm.html"  th:href="@{/mail/form(id=${inquery.id})}">メール返信</a>
<div>
    <p>発信者: <span th:text="${inquery.mailAddress}"></span></p>
    <p>件名: <td>
            <span th:switch="${inquery.classification}">
                <span th:case="'1'">コースについて</span>
                <span th:case="'2'">金額について</span>
                <span th:case="'3'">申し込みについて</span>
                <span th:case="'4'">法人研修について</span>
                <span th:case="'99'">その他</span>
                <span th:case="*">未知の分類</span>
            </span>
    </td></p>
    <p>日付: <span th:text="${inquery.day}"></span></p>
    <p>本文:</p>
    <p th:text="${inquery.body}"></p>
</div>
</body>
</html>