<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>問い合わせ一覧｜問い合わせシステム</title>
</head>
<body>
<h1 class="mt-3">問い合わせ一覧</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>
<table class="table">
    <thead>
    <tr>
        <th>No:</th>
        <th>問い合わせカテゴリ</th>
        <th>発信者</th>
        <th>本文</th>
        <th>日付</th>
        <th>未読</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inquery : ${inqueryList}">
        <td th:text="${inquery.inquery_id}">(inquery_id)</td>
        <td>
            <span th:switch="${inquery.classification}">
                <span th:case="'1'">コースについて</span>
                <span th:case="'2'">金額について</span>
                <span th:case="'3'">申し込みについて</span>
                <span th:case="'4'">法人研修について</span>
                <span th:case="'99'">その他</span>
                <span th:case="*">未知の分類</span>
            </span>
        </td>
        <td><a href="./detail.html" th:href="@{/inquery/{id}(id=${inquery.inquery_id})}" th:text="${inquery.mail_Address}"></a></td>
        <td th:text="${#strings.length(inquery.content) > 10 ? #strings.substring(inquery.content, 0, 10) : inquery.content} + '...'"></td>
        <td th:text="${inquery.registration_At}"></td>
        <td th:text="${inquery.is_readed == '1' ? '未読' : '既読'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>