<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>メール作成画面｜問い合わせシステム</title>
</head>
<body>
<h1>Send Mail</h1>
<form th:action="@{/mail/send}" method="get">
    <div>
        <label>発信者:<span th:text="${inquery.mail_Address}"></span> </label>
        <input type="hidden" id="mailAddress" name="mailAddress" th:value="${inquery.mail_Address}" required>
    </div>
    <div>
        <label for="subject">件名:</label>
        <input type="text" id="subject" name="subject" required>
    </div>
    <div>
        <label for="text">本文:</label>
        <textarea id="text" name="text" rows="5" required></textarea>
    </div>
    <input type="hidden" id="id" name="id" th:value="${inquery.inquery_id}"></input>
    <div>
        <button type="submit">送信</button>
    </div>
</form>
</body>
</html>